.profile__button-edit {
  width: 24px;
  height: 24px;
  background-image: url(../../../images/profile__btn-edit.svg);
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  margin: 15px 0 34px 18px;
  padding: 0;
}
