.popup__btn-submit {
  min-height: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #ffffff;
  background-color: #000;
  border: 0;
  border-radius: 2px;
  margin: 48px 0 0 0;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.4s ease;
}

.popup__btn-submit:hover {
  opacity: 0.8;
}

@media screen and (max-width: 598px) {
  .popup__btn-submit {
    min-height: 46px;
    font-size: 14px;
    line-height: 1.21;
    margin-top: 48px;
  }
}
