@import url("../vendor/normalize.css");
@import url("../vendor/fonts/inter.css");
@import url("../blocks/body/body.css");
@import url("../blocks/page/page.css");

@import url("../blocks/header/header.css");
@import url("../blocks/header/__logo/header__logo.css");

@import url("../blocks/main/main.css");

@import url("../blocks/profile/profile.css");
@import url("../blocks/profile/__avatar/profile__avatar.css");
@import url("../blocks/profile/__info/profile__info.css");
@import url("../blocks/profile/__container/profile__container.css");
@import url("../blocks/profile/__name/profile__name.css");
@import url("../blocks/profile/__description/profile__description.css");
@import url("../blocks/profile/__button-edit/profile__button-edit.css");
@import url("../blocks/profile/__button-add/profile__button-add.css");

@import url("../blocks/grid-elements/grid-elements.css");
@import url("../blocks/grid-elements/__items/grid-elements__items.css");
@import url("../blocks/grid-elements/__image/grid-elements__image.css");
@import url("../blocks/grid-elements/__info/grid-elements__info.css");
@import url("../blocks/grid-elements/__title/grid-elements__title.css");
@import url("../blocks/grid-elements/__button-like/grid-elements__button-like.css");
 